/* colors */
/* fonts */
/* path */
/* layout */
.wrapper {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.wrapper::after {
  content: '';
  display: block;
  height: 100%;
  width: 100vw;
  background-color: inherit;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: auto;
  left: -50vw;
  right: -50vw;
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  background: #cecece;
}
.link {
  text-decoration: none;
}
header .user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
header .user__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
header .user__menu_img {
  width: 16px;
  height: 14px;
}
header .user__social {
  margin-left: auto;
}
header .user__social_img {
  width: 23px;
  height: 14px;
}
.logo .logo__img {
  width: 90px;
  height: 65px;
}
.logo .logo-red {
  fill: #ff0000;
}
